* {
    color: #A9B7C6 !important;
    background-color: #2B2B2B !important;
    text-shadow: none !important;
}

a, a u, a tt, a em, a code, a span, a strong, a font {
    color: #FFF !important;
}

b, em, strong, strong font, strong span {
    color: #4F9CEE !important;
}

code, code span, pre, pre a, pre b, pre i, pre span, pre font, blockquote, blockquote a, blockquote b, blockquote p, blockquote i, blockquote ol, blockquote li, blockquote em, blockquote sub, blockquote img, blockquote strong, blockquote font {
    background-color: #33373A !important;
    border-radius: 3px;
}

li > code, p > code, pre, blockquote {
    border: none !important;
    border-left: 2px solid #FFEB8E !important;
}

::selection {
    background: #B3D4FC !important;
}

::-webkit-scrollbar {
    width: 8px;
    height: 11px
}

::-webkit-scrollbar-thumb {
    background: #969CBD
}

::-webkit-scrollbar-thumb:hover {
    background: #FF9632
}
